.photo {
  max-width: 200px;
  height: auto;
  margin: 10px;
}

.about-description {
  font-size: 20px;
  text-align: justify;
}

@media only screen and (max-width: 480px) {
  .about {
    padding-top: 65px;
  }

  .about-description {
    font-size: 12px;
  }
}